<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>

<div style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb;">
  <div class="Polaris-Page">
    <div class="Polaris-Page-Header">
      <div class="Polaris-Page-Header__MainContent">
        <div class="Polaris-Page-Header__TitleActionMenuWrapper">
          <div>
            <div class="Polaris-Header-Title__TitleAndSubtitleWrapper">
              <div class="Polaris-Header-Title">
                <h1 class="Polaris-DisplayText Polaris-DisplayText--sizeLarge">Products</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Polaris-Page__Content">
      <div class="Polaris-Card">
        <ul>
          <% @products.each do |product| %>
            <!--    <li><%#= link_to product.title, "https://#{@shop_session.domain}/admin/products/#{product.id}", target: "_top" %></li>-->
            <li>
              <%= link_to product.title, "https://#{@shop_session.domain}/admin/products/#{product.id}", target: "_blank" %> ||
              <%= link_to 'show', home_path(product)%> ||
              <%= link_to 'edit', edit_home_path(product)%>
            </li>
          <% end %>
        </ul>

        <hr>

        <h2>Webhooks</h2>

        <% if @webhooks.present? %>
          <ul>
            <% @webhooks.each do |webhook| %>
              <li><%= webhook.topic %> : <%= webhook.address %></li>
            <% end %>
          </ul>
        <% else %>
          <p>This app has not created any webhooks for this Shop. Add webhooks to your ShopifyApp initializer if you need webhooks</p>
        <% end %>
      </div>
    </div>
  </div>
</div>